<% content_for :breadcrumb do %>
    <li><%= link_to "Categoria novela", admin_novel_categories_path %> <span class="divider">/</span></li>
<% end %>

<div class="navbar">
  <div class="navbar-inner">
    <div class="brand">
      <li class="active">Nova categoria</li>
    </div>
  </div>
</div>

<%= render 'form' %>
